@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color : #f1f1f1;
    --bg-secondary : #fbfbfb;
    --light-blue : #265bab;
    --dark-blue : #0c2b61; 
    --black: #1f2226;
    
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-color);
}

h1,
h2,
h3{
    font-family: "Oswald", sans-serif;
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1200px;

}

.text-primary{
    color: var(--light-blue);
}
/* Header Start */
#header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #265bab;
}

#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    height: 100px;

}


#header .navbar  ul {
    display: flex;
}

#header .navbar  ul li a {
    color: var(--dark-blue);
    font-size: 18px;
    margin: 0 20px;
    font-weight: 500;
}

#header .navbar  ul li a:hover {
    color: var(--light-blue);
}


/* Home */
#home {
    background-color: var(--light-blue);
    background-size: 100%;


}

#home .container .home-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 100vh;
    gap: 3rem;
    align-items: center;
}

#home .home-content .content-text .btn{
    border-radius: 30px;
}


#about{
    padding: 6rem 0;
}

#about .row .content {
    text-align: center;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 130%;
}

.name {
    color: var(--light-blue);
}

.personal-img{
    border: solid;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border-color: #265bab;
    margin-top: 1cm;
}

#projects {
    border-top: #265bab solid 20px;
    background-color: #265bab;
    border-bottom: #265bab solid 20px;
}
.project {
    color: #f1f1f1;
    text-align: center;
    font-size: 130%;
    
}

.container{
    background-color: #265bab;
    
    /* border-bottom: #fff solid 10 px; */
}
.r1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.r2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-bottom: 50px; */
}

.project1 {

    color: var(--light-blue);
    text-align: center;
    font-size: 100%;
    border: #fff dashed 2px;
    border-radius: 20px;
    width: 40%;
    background-color: white;
    /* float: right; */
    /* margin-left: 200px;  */
    margin-top: 20px;
}

.project2 {

    color: var(--light-blue);
    text-align: center;
    font-size: 100%;
    border: #fff dashed 2px;
    border-radius: 20px;
    width: 40%;
    /* float: left; */
    background-color: white;
    margin-top: 20px;
}

.project3 {

    color: var(--light-blue);
    text-align: center;
    font-size: 100%;
    border: #fff dashed 2px;
    border-radius: 20px;
    width: 40%;
    /* float: left; */
    background-color: white;
    margin-top: 20px;
    /* margin-bottom: 50px; */
}

.project4 {

    color: var(--light-blue);
    text-align: center;
    font-size: 100%;
    border: #fff dashed 2px;
    border-radius: 20px;
    width: 40%;
    /* float: left; */
    background-color: white;
    margin-top: 20px;
    /* margin-bottom: 50px; */
}

.Partnerships_img{
    display: flex;
    justify-content: space-around;
    /* background-color: #fff; */
    margin-top: 50px;
    

}

.Partnerships_img .part {
    border: #fff solid;
    border-radius: 50%;
    width: 10cm;
    height: 10cm;
}

#contact{
    /* margin-top: 50px; */
    background-color: var(--bg-color);
    color: var(--light-blue);
    border-top: var(--bg-color) 10px solid;
    border-bottom: var(--bg-color) 100px solid;
}
#contact .part{
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    margin-top: 2rem;
    

}
#contact .part .form form input,
#contact .part .form form textarea{
    display: block;
    width: 70%;
    margin: 15px 0;
    padding: 15px;
    border-color: #ccc;
    border: 1px solid;
    margin-left: 0px;
}
.btn-submit{
    background-color: #265bab;
    color: #fff;
    width: 70%;
    margin-left: 0px;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;

}
.btn-submit:hover{
    background-color: var(--dark-blue);


}

.map iframe{
    width: 70%;
    height: 100%;
    margin-left: 150px;

}


#footer{
    background-color: var(--light-blue);
    color: var(--bg-color);
    
}
